.UserOptions {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    grid-gap: 12px;
    padding: 12px;

    align-items: center;
    justify-content: center;

    border-radius: 12px;
    background: black;
    color: white;
}