<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <title>{{ page_title }}</title>
    </head>
    <body>
        <div class="MainLayout">
            <div class="MainLayout_logo">{% include template_logo %}</div>
            <div class="MainLayout_user">{% include template_user %}</div>
            <div class="MainLayout_menu">{% include template_menu %}</div>
            <div class="MainLayout_content">{% include template_content %}</div>
        </div>
    </body>
</html>