<title>Accession</title>

<body>
    {% include 'nav.html' %}
   <form method = "POST" enctype = multipart/form-data >
             {%csrf_token%}{{form.non_field_errors}}

     <div class ="page">
       <div id ='patient'>
           {{form.last_name }}{{form.first_name }}{{form.midIntl }}
         <div id='background'>
          <h6>&nbsp; Birth: {{form.birthdate}}</h6>
          <p>&nbsp; Gender: {{form.gender}}
            {% for a in Age %}
          &nbsp;&nbsp; &nbsp;&nbsp;{{a.Age }}Age</p>
          {% endfor %}
         </div>
         </div>
        <table>
             <tr>
                 <th rowspan ='2'><strong>Patient Address:</strong><br>{{form.pataddress}}<br>{{form.patcistzip}}</th>
                 <th>Treating Provider:&emsp;{{form.treating_physician}}</th>
                 <th>Ref. Facility:&emsp; &emsp;{{form.facility_name}}</th>
             </tr>
             <tr>   
               <td>Ordering Provider:&emsp;{{form.ordering_physician}}</td> 
             <td rowspan='2'>Address:<br>{{form.facility_address}}<br>{{form.cistzip}}</td></td>
              
             </tr> 
             <tr>
               <td>Patient Phone:&emsp;{{form.patphone}}</td>
               <td Rowspan='3'>Diagnosis:{{form.diagnosis}}</td>
             
               
             </tr>
             <tr>   
               <td class = "cellgroup1">Patient ID:&emsp;&emsp;{{form.patient_id}}</td>
               <td>Facility ID:&emsp;&emsp;{{form.facility_id}}</td>
               
           </tr> 
             <tr> 
               <td class = "cellgroup1">Speciman ID:&emsp;&emsp;{{form.speciman_id}}</td>
               <td>Phone:&emsp;&emsp;{{form.facility_phone}}</td>
               
              
           </tr>
           <tr>   
             <td class = "cellgroup1">Speciman Type:&emsp;&emsp;{{form.speciman_type}}</td>
             <td Rowspan='3'>ICD10:{{form.icd10}}</td>
             <td>FAX:&emsp;{{form.facility_fax}}</td>
         </tr>
         <tr>   
           <td class = "cellgroup1">Date Collected:&emsp;&emsp;{{form.date_collected}}</td>
           <td>Cell:&emsp;&emsp;{{form.cell}}</td>
       </tr>
       <tr>   
         <td class = "cellgroup1">Date Received:&emsp;&emsp;{{form.date_received}}</td>
     </tr>
     
     <td colspan='3' style='margin-left: 50%'>Payment Coverage provided via: {{form.insurance}} </td>
      </table> 
    
     <table id ='table2'>
       <tr>
         <th class = 'table3'>Insurance</th>
         <th class = 'table3'>Member ID<br>/Policy Number</th>
         <th class = 'table3'>Group Number</th>
         <th class = 'table3'>Relation to Subscriber</th>
        </tr>
       <tr>
         <td>
         {{form.provider}}
       </td>
         <td> 
           {{form.memberID}} 
        </td>
         <td>
           {{form.groupNo}} 
        </td>
         <td>
           {{form.relationship}} 
         </td><br>
         <tr>
           <td>
           {{form.provider}}
         </td>
           <td>
             {{form.memberID}} 
          </td>
           <td>
             {{form.groupNo}} 
          </td>
           <td>
             {{form.relationship}} 
           </td>
           <br>
           <tr>
             <td>
             {{form.provider}}
           </td>
             <td>
               {{form.memberID}}  
            </td>
             <td>
               {{form.groupNo}} 
            </td>
             <td> {{form.relationship}} </td><br> 
             <button type='submit'>submit</button>
         
     </table>
         <form>
         <table id='table2'>
         <tr>   
           <td class = "cellgroup1">TEST&emsp;&emsp;{{form.test}}</td>
           <td >Date Added</td>
           <td>Xcell ACC #</td>
           <td>Panel/ Probe(s)</td>
           <td></td>
           <td><button type = submit>ADD</button></td>
       </tr>  
       </table> 
     </form>
     
         </table> 
         <div class = "test">
           <div id='test'></div><div>{{form.date_added}}</div><div id='XcellAcc'></div><div id="probePanel"></div>
           <div id='test'></div><div>{{form.date_added}}</div><div id='XcellAcc'></div><div id="probePanel"></div>
           <div id='test'></div><div>{{form.date_added}}</div><div id='XcellAcc'></div><div id="probePanel"></div>
           <div id='test'></div><div>{{form.date_dded}}</div><div id='XcellAcc'></div><div id="probePanel"></div>
         </div>       
       <tableclass='table2'>
         <tr>
           <td><p><strong>ALL individual Test need to be reported prior to Transmitting a FINAL Summary Report for a specimen.</td>
             </strong></p></tr>
             
           </div>
            
           </form>
           <div class ='sidebar'>
             <h1 class='center'>Search cryteria</h1>
             {% include 'search.html' %}
             <hr>
             </div>
           
         </div>
     </div>
     <p>the current year is{% now 'Y' %}</p>
</body> 

      <style>
        #background{
          background-color: white;
          margin-left: 5px;
          width: 255px;
          height: 70px;
        }
   body{
     font-family: calibri;
     }
     .page{
     margin-left: 50px;
     margin-right: 50px;
     width: 1000px;
     height: 1056px;
     padding: 40px;
  
 }
     .avatar{
       margin-left: 1000px;

     }
     #test{
       background-color:rgb(236, 249, 250);
       height: 30px;
       width:305Px;
       text-align: center;
     }
     #XcellAcc{
       background-color:rgb(236, 249, 250);
       height: 30px;
       width:120Px;
       text-align: center;
     }
     #probePanel{
       background-color:rgb(236, 249, 250);
       height: 30px;
       width:250Px;
       text-align: center;
     }
     
   h1{
     margin-left: 15%;
     }
     .parentflex{
     display: flex;
   
     }
    
      li{
      list-style: none;
    }
    .profile{
      border: 2px solid black;
      border-radius: 50%;
      height: 45px;
    }
    .search{
     position: absolute;
     margin-left: 1300px;
     margin-top: 25px;
 }
 #name{
 margin-top: 10px;
     width: 550px;
     height: 70px;
     font-size: 50px;
     font-family: calibri
 }
 #patient{
   padding-top: 5px;
   padding-left: 5px;
     display: flex;
     width: 100%;
     height: 95px;
     background-color: rgb(161, 161, 168);
 }
 .boldtext{
     font-size: 15px;
     width: 100px;
     height: 20px;
 }

 table, th, td {
     overflow:hidden;
     white-space: nowrap;
     max-height: 40px;
     border: 1px solid black;
     border-collapse: collapse;
     margin-top: 5px;
     height: 30px;
     vertical-align: top;
     text-align: left;
   }

 #table2{
   width: 100%;
   border: 1px solid black;
   border-collapse: collapse;
 }
 .table3{
   margin-top: -50px;
   padding-left: 40px;
   padding-right: 40px;
  
 }
 .my_dropdown{
     width: 100px;
     height: 30px;
 }
 #my_dropdown{
     width: 200px;
     height: 30px;
     border: none;
 }
 .form-control{
   font-size: 40px;
 }
 #id_birthdate{
  
   height: 20px;
   font-size: 10px;
   border: none;
   font-size: 15px;
 }
 #id_patient_age{
  border: none;
  
   /* height: 20px;
   width: 40px; */
/*   
   margin-left: -40px;
   margin-top: -30px; */
 }
 #id_gender{
   height: 20px;
   border: none;
 }

 #id_ordering_physician{
   height: 30px;
   border: none;
   font-size: 17.7px;

 }
 #id_treating_physician{
   height: 30px;
   border: none;
   font-size: 17.7px;
 }
 #id_facility_name{
   height: 30px;
   width: 145px;
   border: none;
   font-size: 17.7px;
 }
 #id_pataddress{
   border:none;
   vertical-align: top;
   font-size: 12px;
 }
 #id_patient_id{
   border: none;
 }
 #id_speciman_id{
   border: none;
 }
 #id_diagnosis{
   border: none;
   vertical-align: top;
  
 }
 #id_date_collected{
   border: none;
   vertical-align: top;

 }
 #id_date_recieved{
   border: none;
   vertical-align: top;
 }
 #id_patphone{
   border: none;
   
 }  

 #id_cell{
   border: none;
   
 }
 #id_icd10{
   border: none;
   vertical-align: top;
 }
 #id_test{
   border: none;
   vertical-align: top;
 }
 #id_speciman_type{
   border: none;
 }
 #id_patientAddress{
   border: none;
 }
 #id_insurance{
   border:none;
 }
 #id_Insurance{
   border: none;
 }
 #id_facility_address{
   border: none;
 }
 #id_facility_phone{
   border: none;
 }
 #id_facility_fax{
   border: none;
 }
 #id_midIntl{
   border: none;
   font-size: 40px;
 }
 .test{
   display: flex;
   flex-wrap: wrap;
   width: 820px;
   height: 150px;
   border: 2px black solid; 
 }
 
 .sidebar{
   margin-top: 40px;
   height: 800px;
   width: 300px;
  border: 5px solid rgb(161, 161, 168);

 }

 .center{
   margin-left: 25%;
 }
 </style>

 </html> 

